notebooks/data_loader_SNB.ipynb
notebooks/model_training_SNB.ipynb
notebooks/text_encoding_SNB.ipynb
notebooks/Claims_Rejection_Classification.ipynb
src/data_backup/passcode.json
data/deprecated_function
data/Extras
data/SplittedData
data/HJH
data/.gitignore
data/link
data/path_shared
src/__pycache__/
data/data_encoder
__pycache__
.idea
/progress_thoughts_text/
/analysis and investigations notebooks/
progress_thoughts_text/img.png
src/__pycache__/data_application.cpython-39.pyc
src/__pycache__/data_local.cpython-39.pyc
src/__pycache__/model_train.cpython-39.pyc

/data/Nphies/nphies Implementation Guide-V2.6.pdf
/data/Nphies/codes_to_reason.xlsx
